.wrapper {
    min-height: 100vh;
}

.content {
    background: scroll #fff url(../background.png) bottom repeat-x;
}

.header {
    z-index: 1021;
    background-color: #89be82;
}

.header .search-i {
    color: rgb(190, 194, 197);
}

.header .search-btn {
    background: none;
    border: none;
    margin: -2rem;
}

.basket {
    background: none;
    border: none;
}

.basket .basket-i {
    color: rgb(48, 48, 48);
}

.product-price,
.product-name {
    text-align: center;
}

.product img {
    width: 150px;
    height: 150px;
}

.product:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.product {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.product .product-price,
.product .add-basket {
    display: none;
}

.product.expand {
    width: 100%;
    flex-direction: row;
}

.product.expand .product-price,
.product.expand .add-basket,
.product.expand .del-basket {
    display: initial;
}


.footer {
    background-color: #e3e7e8;
    color: rgba(0, 0, 0, 0.45);
}


#search-modal {
    min-width: 80%;
}

.auth-form, .reg-form {
    width: 80%;
}